<%- include('parts/header') %>

<% var error %>

<section class="vh-100 d-flex flex-column justify-content-center align-items-center registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card text-center p-4">
                    <h1>Instagram</h1>
                    <strong class="text-muted registration-slogan">
                        Sign up to see photos and videos from your friends.
                    </strong>
                    <form class="mt-4" method="POST">
                        <% if(error) {%>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                        <% } %>
                        <input type="tel" name="phone" class="form-control my-3 bg-light" placeholder="Mobile number">
                        <input type="text" name="name" class="form-control my-3 bg-light" placeholder="Full name">
                        <input type="text" name="username" class="form-control my-3 bg-light" placeholder="Username">
                        <input type="password" name="password" class="form-control my-3 bg-light"
                            placeholder="Password">
                        <button type="submit" class="btn btn-primary w-100">
                            Sign up
                        </button>
                    </form>
                    <p class="mt-4 text-muted">By signing up, you agree to our <a target="_blank"
                            href="https://help.instagram.com/581066165581870" tabindex="0">Terms</a> , <a
                            target="_blank" href="https://help.instagram.com/519522125107875" tabindex="0">Data
                            Policy</a> and <a target="_blank" href="/legal/cookies/" tabindex="0">Cookies Policy</a> .
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card d-flex text-center p-4 align-items-center">
                    <p class="m-0 p-0">Have an account? <a href="/login">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('parts/footer') %>