<nav class="navbar p-3 navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
        <a class="navbar-brand" href="/">Instagram</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <form class="d-flex ms-auto">
                <input class="form-control me-2 navbar-search" type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link w-100 d-block active" aria-current="page" href="#">
                        <img class="d-block" src="/img/home.svg" alt="Home icon" width="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 d-block active" aria-current="page" href="#">
                        <img class="d-block" src="/img/messenger.svg" alt="Messenger icon" width="30">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 d-block active" aria-current="page" href="#">
                        <img class="d-block" src="/img/like.svg" alt="Like icon" width="30">
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded-circle" src="https://picsum.photos/50" alt="Avatar" width="30">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li>
                            <a class="dropdown-item" href="/exit">Exit</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>